@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

                                                    /* Header Level-1  */

header {
  width: 100%;
}

header .header-level-1 {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(201, 201, 201) solid .5px;
}

.header-item-container {
  /* padding: 40px left; */
  display: flex;
  align-items: center;
  padding: 0 60px 0 60px;
}

header .header-item-container p {
  padding: 0 40px 0 40px;
}

#logo-text {
  font-size: 60px;
}

header .avatar {
  height: 40px;
}

#logout-button{
  text-align: center;
  font-size: 12px;
  margin-left: 20px;
}

#nav-username{

  font-size: 24px;
}

                                            /* Header Level-2  */

header .header-level-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: medium;
  gap: 80px;

  padding: 10px;
}

.header-level-2 p{

  width: 160px;
  text-align: center;
}


li,
button {
  all: unset;
}

a:hover {
  font-weight: 500;
}

a:active {
  font-weight: 600;
}

a:visited {
  font-weight: 600;
}

                                                  /* Landing Page */

.landing-page{
  display: flex;
  justify-content: center;
  font-size: 48px;
}

                                                  /* Designers Page */

.designers-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.designer-container{

  width: 400px;
  height: 90px;
  border: rgb(201, 201, 201) solid .5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 4px;
  position: relative;
}

.designer-name{

  width: 300px;
  height: 73px;
  text-align: center;

}

.total-users{
  /* position: absolute; */
  font-size: 12px;
  font-weight: 300;
  /* font-style: italic; */
  /* top: 60px;
  right: 54px; */
  text-align: center;
}
.designer-name:hover, .designer-delete:hover {
 
  font-weight: 500;
}

.designer-delete{
  position: absolute;
  right: 10px;
  top: 67px;
  align-self: end;
  font-size: 12px;
  font-style: italic;
}

.instructions{
  font-size: 14px;
  font-style: italic;
}


                                                  /* Login Page */

.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: start;
  padding: 40px;
  border: rgb(201, 201, 201) solid .5px;
  border-radius: 2px;
}

.login-labels {
  
  font-size: 18px;
  padding: 15px 0 4px;
}

.login-button-container{

  display: flex;
  justify-content: center;

}

.login-buttons{

  color: white;
  background-color: black;
  margin: 38px 4px 4px 4px;
  padding: 4px;
  border-radius: 3px;;
  width: 170px;
  text-align: center;
}

.login-buttons:hover {

  font-weight: 500;
}

#cancel{
  background-color: rgb(191, 191, 191);
}

#cancel:hover{
  background-color: rgb(162, 162, 162);
}

#error-username{
  text-align: center;
  color:rgb(205, 0, 0);
  font-size: 12px;
  margin-bottom: 0;
}

                                              /* Items and Inventory */

.inventory-container{

  display: flex;
  justify-content: center;
}

.item-container{
  position: relative;
  width: 200px;
  height: 280px;
  border: rgb(201, 201, 201) solid .5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  margin: 4px;

}

.item-edit-button{
  position: absolute;
  right: 42px;
  top: 220px;
  width: 60px;
  text-align: center;
  border: rgb(0, 0, 0) solid .5px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  padding: 2px;
  margin: 24px;
}

.item-edit-button:hover{

  font-weight: 600;
}

                                                  /* ItemEdit */

.item-edit-container{

  width: 200px;
  height: 281px;
  border: rgb(201, 201, 201) solid .5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  margin: 4px;
  padding-top: 14px;
  /* padding-bottom: 14px; */
}

.edit-input{
  margin: 14px;
  width: 170px;
}

.s-e-d-buttons-container{
  display: flex;
  justify-content: center;
  margin: 14px
}

.s-e-d-buttons{

  width: 48px;
  text-align: center;
  border: rgb(0, 0, 0) solid .5px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  padding: 2px;
  margin: 0 4px ;
  /* margin-bottom: 100px; */
}

#add-another{
  width: 80px;
}

.s-e-d-buttons:hover{
  font-weight: 600;
}

                                                /* Add Page */

/* .add-page-level-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .add-container{
  display: flex;
  justify-content: center;
  border: rgb(201, 201, 201) solid .5px;
  border-radius: 2px;
  padding: 14px;

} */

.add-component-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.designer-options-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  /* height: 300px; */
  border: rgb(201, 201, 201) solid 1px;
  border-radius: 2px;
}

.dropdown-first-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.designer-dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

                                                /* Item ADD */

.add-page{
  display: flex;
  justify-content: center;
}

.item-add-container{

  width: 400px;
  height: 510px;
  border: rgb(201, 201, 201) solid .5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 4px;
  padding-top: 14px;
  /* padding-bottom: 14px; */
}


.item-saved-container{

  width: 200px;
  height: 200px;
  border: rgb(201, 201, 201) solid .5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  margin: 4px;
  padding-top: 14px;
  /* padding-bottom: 14px; */
}

                                              /* Designer Add */

.add-designer-container{
  width: 200px;
  height: 324px;
  border: rgb(201, 201, 201) solid .5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  margin: 4px;
  padding-top: 14px;

}